<h3>Are you sure?</h3>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image %>
  <p><%= @picture.content %></p>
  <p><%= @picture.image %></p>
  <%= form.submit "Submit" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>
