<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<button type="button" class="btn btn-default"><%= link_to 'New Picture', new_picture_path %></button>
<br>
<% @pictures.each do |picture| %>
  <div class="container">
    <div class="row">
      <div class="picture_box col-sm-6">
        <ul>
          <li><strong><%= picture.user.name %></strong>'s Picture</li>
          <li><%= picture.content %></li>
          <li><%= image_tag picture.image.url if picture.image.present? %></li>
          <li><%= link_to 'Show', picture %>
              <% if current_user.id == picture.user_id %>|
                <%= link_to 'Edit', edit_picture_path(picture) %>
              <% end %>
              <% if current_user.id == picture.user_id %>|
                <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
<br>
<button type="button" class="btn btn-default"><%= link_to 'New Picture', new_picture_path %></button>
