<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2>InstaClone</h2>
      <img src="" alt="">
      <div class="">
      <ul>
        <li><%= link_to "Top", root_path %></li>
        <li><%= link_to "Pictures", pictures_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user.id) %></li>
          <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_path %></li>
          <li><%= link_to "Login", new_session_path %></li>
        <% end %>
    </ul>
    </div>
  </header>
    <%= yield %>
    <footer>
      <p>Directed by 4E78</p>
    </footer>
  </body>
</html>
